input,
textarea {
    font-size: 1.25rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    background: transparent;
    padding: 8px 0;
    border: 1px solid $fcolor;
    width: 100%
}

textarea {
    float: right;
    min-height: 105px;
}

label {
    display: block;
    margin-top: 26px;
}

input[type="submit"],
button[type="submit"],
button {
    background: transparent;
    padding: 10px 30px;
    border: 1px solid $fcolor;
    margin-bottom: 10px;
    cursor: pointer;
    color: $bgcolor;
    background: $fcolor;
    font-size: 1em;
    clear: both;
    &:hover {
        background: $bgcolor;
        color: $fcolor;
    }
}

select {
    border: 1px solid $fcolor;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background: transparent;
    font-size: 1.25rem;
    color: $fcolor;
    background: url(br_down.png) no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 244px;
}

#suche {3
    float: left;
    margin: 1em 2px;
}
// Form Validation
#userform{
    max-width: 640px;
    margin: auto;
}
label.error{color:#f23c3c; margin-top: 0}
label.valid{color:#91d64d;}
input.error{border-color:#f23c3c;color:#f23c3c; }
input.valid{border-color:#91d64d;}
.password-meter-label {
  color: #666;
}
.password-meter {
  vertical-align: middle;
}
.password-meter-message {
  text-align: center;
  font-weight: bold;
  color: black;
  padding-left: 5px;
  background: #eee;
}
.password-meter-message-very-weak {
  background: #d9534f;
}
.password-meter-message-weak {
  background: #f0ad4e;
}
.password-meter-message-good {
  background: #5bc0de;
}
.password-meter-message-strong {
  background: #5cb85c;
}